#footnotes_debug table {
  background: none;
}

// @import "bootswatch/superhero/variables";
@import 'bootstrap';

body { padding-top: 90px; }

@import "bootstrap-responsive";
// @import "bootswatch/superhero/bootswatch";

.hint {
  font-size: 12px;
  margin: 0;
}

.vertical-align { vertical-align: middle !important; }
.align-left     { text-align: left !important; }
.align-center   { text-align: center !important; }
.align-right    { text-align: right !important; }


.btn-toolbar form {
  display: inline;
}

.unstyled li {
  padding: 3px 0;
  span.badge {
    margin-right: 10px;
  }
}